<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paper Plane Pro Tournament Foundation</title>
    <link rel="icon" type="image/x-icon" href="/resources/icon.png">
</head>
<body>

<nav>
    <h1>Willkommen auf unserer Website :)</h1>
    <img src="/resources/icon.png">
</nav>


{% block body %} {% endblock %}
</body>
</html>
