{% extends 'home.html.twig' %}

{% block body %}

{% for round in rounds %}
    <li>{{ round.name }} -> <a href="{{ path('round', {roundId:round.id}) }}">Klicke hier zur Detailansicht</a></li>
{% endfor %}

{% endblock %}
